@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Serif:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #004ac6;
  --color-primary-container: #2563eb;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #eeefff;
  --color-primary-fixed: #dbe1ff;
  --color-primary-fixed-dim: #b4c5ff;
  --color-secondary: #0058be;
  --color-secondary-container: #2170e4;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #fefcff;
  --color-secondary-fixed: #d8e2ff;
  --color-secondary-fixed-dim: #adc6ff;
  --color-secondary-fixed-variant: #004395;
  --color-tertiary: #4e565d;
  --color-tertiary-container: #676e76;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #eaf1fa;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-background: #f8f9fa;
  --color-on-background: #191c1d;
  --color-surface: #f8f9fa;
  --color-on-surface: #191c1d;
  --color-surface-variant: #e1e3e4;
  --color-on-surface-variant: #434655;
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;
  --color-surface-container-highest: #e1e3e4;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container: #edeeef;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-lowest: #ffffff;
  
  --font-headline: "Noto Serif", serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
  --font-elephant: "Noto Serif", serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .glass-panel {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}
